* {
    box-sizing: border-box;
}

body {
    background-color: #212529;
    color: #ffffff;
    font-family: 'Anek Latin', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.cabeçalho {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343a40;
    border-radius: 8px;
}

.cabeçalho p {
    font-size: 36px;
}

.icone {
    margin: 0 50px 0;
}

.btn-contato {
    margin: 0 50px 0;
    position: relative;
    display: inline-block;
}

.btn-contato button {
    background-color: #0B7B8F;
    padding: 15px 30px;
    font-size: 20px;
    color: #ffffff;
    border: solid 1px transparent;
    border-radius: 8px;
    cursor: pointer;
}

.btn-contato button:hover{
    background-color: #056070;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 132px;
    z-index: 1;
    border-radius: 8px;
}

.btn-contato:hover .drop-content{
    transition: 0.5s ease;
    display: block;
}

.drop-content a {
    font-size: 16px;
    text-decoration: none;
    padding: 4px 16px;
    display: block;
}

.drop-content .linkedin {
    background-color: #0a65c0;
    border-radius: 8px;
    max-width: 132px;
}

.drop-content .linkedin a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-content .linkedin a img {
    width: 48px;
    height: 48px;
}

.drop-content .github {
    background-color: #1b1e23;
    border-radius: 8px;
    max-width: 132px;
    padding-right: 12px
}

.drop-content .github a {
    font-size: 18px;
    text-decoration: none;
    padding: 4px 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-content .github a img {
    width: 48px;
    height: 48px;
}

.drop-content .facebook {
    background-color: #033f7a;
    border-radius: 8px;
    max-width: 132px;
}

.drop-content .facebook a {
    font-size: 18px;
    text-decoration: none;
    padding: 4px 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-content .facebook a img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

main {
    background-color: #343a40;
    border-radius: 8px;
    margin-top: 20px;
    padding-bottom: 25px;
}

div .projetosTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 25px;
}

div .projetosTexto h1{
    font-size: 36px;
}

div .projetosTexto p{
    font-size: 20px;
    max-width: 80%;
    text-align: center;
}

div .projetosBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

div.projetosBox div.projetos{
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    border: #ffffff solid 1px;
    border-radius: 15px;
    padding: 15px 0px;
}

div.projetosBox div.projetos p{
    font-size: 20px;
    border-bottom: #ffffff solid 0.5px;
}

div.projetosBox div.projetos a{
    text-decoration: none;
    color: #ffffff;
    background-color: #0B7B8F;
    padding: 10px 20px;
    font-size: 20px;
    border: solid 1px transparent;
    border-radius: 8px;
    transition: 0.3s ease;
}

div.projetosBox div.projetos a:hover{
    background-color: #056070;
    transition: 0.3s ease;
}

div.projetosRodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


div.projetosRodape p {
    font-size: 20px;
    max-width: 80%;
    text-align: center;
}

div.projetosRodape a.turma{
    text-decoration: none;
    color: #ffffff;
    background-color: #0B7B8F;
    padding: 10px 10px;
    font-size: 20px;
    border: solid 1px transparent;
    border-radius: 15px;
    transition: 0.3s ease;
}

div.projetosRodape a.turma:hover{
    background-color: #056070;
    transition: 0.3s ease;
}

div.projetosRodape a div.linkTurma{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.projetosRodape a div.linkTurma img{
    width: 36px;
    height: 18px;
    transform: rotate(180deg);
}

.voltarbotao {
    background-color: #0B7B8F;
    padding: 20px 35px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border: solid 1px transparent;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}

.voltarbotao:hover {
    background-color: #056070;
    transition: 0.3s ease;
}